.btn-post{
    padding-left: 180px;
}

.btn_acceuil{
    list-style: none;
    text-decoration: none;
    color: black;

}

.btn_acceuil :hover{
  text-decoration: underline;
}

.btn_envoye_detail{
  margin-left: 311px;
}

.btn_accueil_form{
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(248, 249, 250);
}

.bg_img{
  background-image: url(../img/living-room-g42bdee26c_1920.jpg);
  background-repeat: no-repeat;
  /* width: 100%;
  margin: 0;
  padding: 0; */
}
